@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
body {
    width: 100%;
    min-height: 100vh;
    background: url(../images/pattern-background-desktop.svg) no-repeat;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 450px;
    height: 600px;
    background-color: #fff;
    border-radius: 15px;
}
.page-img img {
    border-radius: 10px 10px 0 0;
}
.wrapper {
    padding: 15px 10px;
    background-color: #fff;
}
.order {
    text-align: center;
}
.order h1 {
    font-size: 20px;
    margin-bottom: 10px;
}
.order p {
    color:  hsl(224, 23%, 55%);
    padding: 0 40px;
    margin-bottom: 20px;
}
.meta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: hsl(225, 100%, 98%);
    width: 330px;
    height: 90px;
    margin: auto;
    border-radius: 15px;
    padding-left: 20px;
}
.annual {
    margin-left: 15px;
}
.annual h2 {
    font-size: 16px;
}
.annual p {
    color:  hsl(224, 23%, 55%);
    font-size: 15px;
}
.meta a {
    margin-left: 70px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.btn a:first-child {
    text-decoration: none;
    color: #fff;
    background: hsl(245, 75%, 52%);
    width: 330px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.btn a:last-child {
    text-decoration: none;
    color:  hsl(224, 23%, 55%);
}


/******** Responsive **************/

@media (max-width: 23.437em) {
    
}